RewriteEngine On
RewriteBase /bato-min-dlc/

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2|ico|ttf)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /bato-min-dlc/public/index.html [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/bato-min-dlc/public/
RewriteCond %{REQUEST_URI} !^/bato-min-dlc/app/
RewriteRule ^(.*)$ /bato-min-dlc/public/$1 [L]
